:root {
  --soft-cyan: 174 77% 80%;
  --strong-cyan: 174 86% 45%;
  --light-grayish-red: 14 92% 95%;
  --light-red: 15 100% 70%;
  --pale-blue: 226 100% 87%;
  --white: 0 0% 100%;
  --very-pale-blue: 230 100% 99%;
  --light-grayish-blue: 224 65% 95%;
  --light-grayish-blue-2: 223 50% 87%;
  --grayish-blue: 225 20% 60%;
  --dark-desaturated-blue: 227 35% 25%;

  --slider-bar: var(--light-grayish-blue);
  --slider-bar--full: var(--soft-cyan);
  --slider-bg: var(--strong-cyan);
  --discount-bg: var(--light-grayish-red);
  --discount-fg: var(--light-red);
  --cta-bg: var(--dark-desaturated-blue);
  --cta-fg: var(--pale-blue);
  --cta-fg--hover: var(--white);
  --bg: var(--very-pale-blue);
  --fg: var(--grayish-blue);
  --heading-fg: var(--dark-desaturated-blue);
  --card-bg: var(--white);
  --card-fg: var(--grayish-blue);
  --toggle-bg: var(--light-grayish-blue-2);

  --ff-sans: 'Manrope', sans-serif;

  --fs-xs: 0.625rem;
  --fs-sm: 0.75rem;
  --fs-md: 0.875rem;
  --fs-lg: 1.25rem;
  --fs-xl: 2rem;

  --fw-regular: 600;
  --fw-bold: 800;

  --br-full: 9999rem;

  --sp-xs: 0.75rem;
  --sp-sm: 1.5rem;
  --sp-md: 2.5rem;
  --sp-lg: 6rem;
  --sp-xl: 10.5rem;
  --sp-2xl: 25rem;

  --screen-md: 48rem;
  --screen-lg: 70rem;

  --padding: var(--sp-sm);
  --max-widht: var(--screen-lg);
}

body {
  background-color: hsl(var(--bg));
  color: hsl(var(--fg));
  background-image: url('/images/bg-pattern.svg');
  background-repeat: no-repeat;
  background-size: auto 25rem;
  font-size: var(--fs-md);
  font-family: var(--ff-sans);
  font-weight: var(--fw-regular);
  line-height: 170%;
}

@media (min-width: 48em) {
  body {
    background-size: auto;
  }
}

.container {
  width: min(var(--max-widht), 100% - var(--padding) * 2);
  margin: 0 auto;
}
