---
import Pricing from '../components/pricing.astro'
import Root from '../layouts/root.astro'
---

<Root title='Interactive pricing component'>
  <div class='hero'>
    <h1>Simple, traffic-based pricing</h1>
    <p>Sign-up for our 30-day trial. No credit card required.</p>
  </div>
  <Pricing />
</Root>
