---
import Pricing from '@components/pricing.astro'
import Root from '@layouts/root.astro'
---

<Root title='Interactive pricing component'>
  <div class='hero'>
    <h1 class='hero__title'>Simple, traffic-based pricing</h1>
    <p class='hero__text'>
      Sign-up for our 30-day trial. No credit card required.
    </p>
  </div>
  <Pricing />
</Root>

<style>
  .hero {
    height: 9.0625rem;
    text-align: center;
    text-wrap: balance;
    margin-top: var(--sp-2md);
    margin-bottom: var(--sp-2sm);
    background-image: url('/images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero__title {
    color: hsl(var(--heading-fg));
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    line-height: 100%;
    margin: 0 0 0.75rem;
  }

  @media (min-width: 48em) {
    .hero {
      margin-top: var(--sp-3md);
      margin-bottom: var(--sp-2md);
    }
  }
</style>
