---
import Discount from './discount.astro'
import Switch from './switch.astro'
---

<div>
  <p id='views' class='calculator__text text-center uppercase'>
    100K pageviews
  </p>
  <p><b id='price'>$16.00</b>/month</p>
  <div>
    <input type='range' min='1' max='5' value='3' id='pageviews' />
  </div>
</div>
<div class='calculator__billing'>
  <p class='calculator__text text-right'>Monthly Billing</p>
  <Switch id='billing' />
  <p class='calculator__text calculator__text--offer'>
    Yearly Billing
    <Discount>25%</Discount>
  </p>
</div>

<style>
  .calculator__billing {
    display: flex;
    justify-content: center;
    gap: var(--sp-1xs);
    align-items: center;
  }

  .calculator__text {
    font-size: var(--fs-sm);
  }

  .calculator__billing .calculator__text {
    flex: 1;
  }

  .calculator__text--offer {
    display: flex;
    align-items: center;
    gap: var(--sp-xxxs);
  }
</style>
<script>
  const pageviewsElement = document.getElementById(
    'pageviews'
  ) as HTMLInputElement
  const viewsElement = document.getElementById('views') as HTMLParagraphElement
  const priceElement = document.getElementById('price') as HTMLParagraphElement
  const billingElement = document.getElementById('billing') as HTMLInputElement

  pageviewsElement.addEventListener('input', (e) => {
    const value = parseInt((e.target as HTMLInputElement).value)
    printPageviews(value)
    printPrice(value)
  })

  billingElement.addEventListener('change', () => {
    printPrice(parseInt(pageviewsElement.value))
  })

  function getPrice(value: number): number {
    const prices = [8, 12, 16, 24, 36]
    return prices[value - 1] * (billingElement.checked ? 0.75 : 1)
  }

  function printPageviews(views: number): void {
    const values = ['10K', '50K', '100K', '500K', '1M']
    viewsElement.textContent = `${values[views - 1]} pageviews`
  }

  function printPrice(pageviews: number): void {
    const price = getPrice(pageviews)
    priceElement.textContent = `$${price.toFixed(2)}`
  }
</script>
