---
import Discount from './discount.astro'
import RangeSlider from './range-slider.astro'
import Switch from './switch.astro'
---

<div class='views-selector'>
  <p id='views' class='calculator__title text-center uppercase'>
    100K pageviews
  </p>
  <div class='views__slider'>
    <RangeSlider id='pageviews' max='4' min='0' value='2' />
  </div>
  <p class='calculator__price'><b id='price'>$16.00</b>/ month</p>
</div>
<div class='calculator__billing'>
  <p class='calculator__text text-right'>Monthly Billing</p>
  <Switch id='billing' />
  <p class='calculator__text calculator__text--offer'>
    Yearly Billing
    <Discount>25%</Discount>
  </p>
</div>

<style>
  .views-selector {
    display: grid;
    justify-items: center;
    margin-bottom: var(--sp-md);
  }

  .views__slider {
    --padding: var(--sp-sm);
    width: calc(100% - (var(--padding) * 2));
  }

  .calculator__billing {
    display: flex;
    justify-content: center;
    gap: var(--sp-1xs);
    align-items: center;
  }

  .calculator__title {
    font-size: var(--fs-sm);
    margin-bottom: var(--sp-sm);
  }

  .calculator__price {
    font-size: var(--fs-md);
    display: flex;
    align-items: center;
    gap: var(--sp-xxs);
    margin-block: var(--sp-2sm) 0;
  }

  .calculator__price b {
    font-weight: var(--fw-bold);
    font-size: var(--fs-xl);
    color: hsl(var(--heading-fg));
  }

  .calculator__text {
    font-size: var(--fs-sm);
  }

  .calculator__billing .calculator__text {
    flex: 1;
  }

  .calculator__text--offer {
    display: flex;
    align-items: center;
    gap: var(--sp-xxxs);
  }

  @media (min-width: 35em) {
    .views-selector {
      padding-inline: var(--sp-1md);
      grid-template-columns: 1fr 1fr;
    }

    .views__slider {
      grid-column: 1 / 3;
      grid-row: 2;
      width: 100%;
    }

    .calculator__title {
      font-size: var(--fs-md);
      justify-self: start;
    }

    .calculator__price {
      font-size: var(--fs-2md);
      margin-block: 0 var(--sp-2sm);
      justify-self: end;
    }

    .calculator__price b {
      font-size: var(--fs-2xl);
    }
  }
</style>
<script>
  const pageviewsElement = document.getElementById(
    'pageviews'
  ) as HTMLInputElement
  const viewsElement = document.getElementById('views') as HTMLParagraphElement
  const priceElement = document.getElementById('price') as HTMLParagraphElement
  const billingElement = document.getElementById('billing') as HTMLInputElement

  pageviewsElement.addEventListener('input', (e) => {
    const value = parseInt((e.target as HTMLInputElement).value)
    printPageviews(value)
    printPrice(value)
  })

  billingElement.addEventListener('change', () => {
    printPrice(parseInt(pageviewsElement.value))
  })

  function getPrice(value: number): number {
    const prices = [8, 12, 16, 24, 36]
    return prices[value] * (billingElement.checked ? 0.75 : 1)
  }

  function printPageviews(views: number): void {
    const values = ['10K', '50K', '100K', '500K', '1M']
    viewsElement.textContent = `${values[views]} pageviews`
  }

  function printPrice(pageviews: number): void {
    const price = getPrice(pageviews)
    priceElement.textContent = `$${price.toFixed(2)}`
  }
</script>
