---
import Button from '@components/button.astro'
import Calculator from '@components/calculator.astro'
---

<div class='pricing-container'>
  <div class='pricing__header'>
    <Calculator />
  </div>
  <div class='pricing__footer'>
    <ul class='pricing__footer-list'>
      <li><span class='pricing__footer-item'>Unlimited websites</span></li>
      <li><span class='pricing__footer-item'>100% data ownership</span></li>
      <li><span class='pricing__footer-item'>Email reports</span></li>
    </ul>
    <Button>Start my trial</Button>
  </div>
</div>

<style>
  .pricing-container {
    max-width: 34rem;
    margin: 0 auto var(--sp-md);
    background-color: hsl(var(--card-bg));
    border-radius: var(--br-sm);
    padding-block: var(--sp-2sm);
    box-shadow: 0px 25px 24px hsl(var(--card-shadow) / 0.16);
  }

  .pricing__header {
    padding-bottom: var(--sp-md);
    border-bottom: 1px solid hsl(var(--card-border));
  }

  .pricing__footer {
    padding-inline: var(--sp-xs);
    padding-top: var(--sp-sm);
    display: flex;
    gap: var(--sp-2sm);
    flex-direction: column;
    align-items: center;
  }

  .pricing__footer-list {
    list-style-image: url(/images/icon-check.svg);
    list-style-position: inside;
    text-align: center;
    font-size: var(--fs-sm);
  }

  .pricing__footer-item {
    margin-left: var(--sp-1xs);
  }

  @media (min-width: 35em) {
    .pricing__footer {
      flex-direction: row;
      justify-content: space-between;
      padding-inline: var(--sp-1md);
    }

    .pricing__footer-list {
      text-align: left;
    }
  }
</style>
