---
import '@styles/reset.css'
import '@styles/globals.css'
import Attribution from '@/components/attribution.astro'

const { title } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/png' href='/favicon-32x32.png' />
    <title>Frontend Mentor | {title}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <main class='container main-container'>
      <slot />
    </main>
    <footer>
      <Attribution />
    </footer>
  </body>
</html>

<style>
  .main-container {
    padding-top: 6rem;
  }
</style>
